{% include 'layout.html' %}

<div class="container mt-5">
  <h3>Add input to chat with personal chatbot</h3>

  <div>
    <div class="card text-left mt-3">
      <div class="card-header">Chat History:</div>
      <div class="card-body chat-history" id="chatHistory">
        {% for response in chat_history %}
        <div class="chat-message user-input">{{ response.user }}</div>
        <div class="chat-message ai-response">{{ response.assistant }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container" id="footer">
    <div class="input-group mb-3">
      <input
        class="form-control chat-history"
        placeholder="Add input here"
        id="userInput"
      />
      <button
        class="btn btn-outline-primary btn-small"
        type="button"
        id="sendButton"
      >
        Send
      </button>
    </div>
  </div>
</div>

<script>
  var ws = new WebSocket("ws://localhost:8000/ws");
  var sendButton = document.getElementById("sendButton");
  var userInput = document.getElementById("userInput");
  var chatHistory = document.getElementById("chatHistory");
  var lastUserMessageDiv = null;
  var isNewUserInput = true;

  ws.onmessage = function (event) {
    var message = event.data.trim();

    if (lastUserMessageDiv && !isNewUserInput) {
      var shouldAddSpace = true;
      var noPrependSpaceChars = [",", ".", "!", "?", ";", ":", "'"];
      if (noPrependSpaceChars.includes(message.charAt(0))) {
        shouldAddSpace = false;
      }
      lastUserMessageDiv.textContent += (shouldAddSpace ? " " : "") + message;
    } else {
      var messageDiv = document.createElement("div");
      messageDiv.className = "chat-message ai-response";
      messageDiv.textContent = message;
      chatHistory.appendChild(messageDiv);
      scrollToBottom();
      lastUserMessageDiv = messageDiv;
      isNewUserInput = false;
    }
  };
  sendButton.onclick = function () {
    var message = userInput.value.trim();
    if (message) {
      var userInputDiv = document.createElement("div");
      userInputDiv.className = "chat-message user-input";
      userInputDiv.textContent = message;
      chatHistory.appendChild(userInputDiv);
      scrollToBottom();
      ws.send(message);
      userInput.value = ""; // Clear the input field
      isNewUserInput = true;
      lastUserMessageDiv = null; // Update the last user message div
    }
  };
  function scrollToBottom() {
    if (chatHistory) {
      chatHistory.scrollTop = chatHistory.scrollHeight;
    }
  }

  // Example: Call scrollToBottom after adding a new message
  // You can integrate this with your message rendering logic
  document.addEventListener("DOMContentLoaded", () => {
    scrollToBottom();
  });
</script>
