{% include 'layout.html' %}

<div class="container mt-5">
    <h3>Add input to chat with personal chatbot</h3>
    <form action="/image" method="POST">
        <div>
            <textarea class="form-control" placeholder="Add input here"  rows="3" name="prompt"></textarea>
            <button class="btn btn-primary mt-1" type="submit">Send</button>
        </div>
    </form>

    <div>
        <div class="card text-left mt-3 d-flex flex-wrap">
            <div class="card-header">Image:</div>
            <div class="card-body d-flex flex-wrap">
                {% for response in image_history %}
                    <img src="{{ response }}" alt="image" class="img-fluid p-2" style="max-width: 300px; height: auto;">
                {% endfor %}
            </div>
            
            
        </div>
    </div>

</div>