{% include 'layout.html' %}

<div class="container mt-5">
  <h3>Add input to chat with personal chatbot</h3>
  <form class="container" id="footer" action="/image" method="POST">
    <div class="input-group mb-3">
      <input
        class="form-control chat-history"
        placeholder="Add input here"
        name="prompt"
        id="userInput"
      />
      <button class="btn btn-outline-primary btn-small" type="submit">
        Send
      </button>
    </div>
  </form>

  <div>
    <div class="card text-left mt-3 d-flex flex-wrap chat-history">
      <div class="card-header">Image:</div>
      <div class="card-body d-flex flex-wrap">
        {% for response in image_history %}
        <img
          src="{{ response }}"
          alt="image"
          class="img-fluid p-2"
          style="max-width: 300px; height: auto"
        />
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  inputField = document.getElementById("userInput");
  document
    .getElementById("footer")
    .addEventListener("submit", function (event) {
      if (inputField.value.trim() === "") {
        event.preventDefault();
        alert("Input field cannot be empty!");
      }
    });
</script>
